<%- include('../partials/header.ejs')  %>

    <title>LISTAGEM DOS INGREDIENTE- LIBRI</title>

</head>

<body>
    
    <div class="container">

        <%- include('../partials/menu.ejs')  %>

        <div class="card mt-2">
            <div class="card-header">LISTAGEM DOS INGREDIENTE->
        </div>

        <%
            ingrediente.forEach(Ingrediente=>{
        %>

            <div class="card mt-2">

                <div class="card-body">
                    <%= Ingrediente.nome_ingrediente %>
                </div>

                <a href="/formEdicaoIngrediente/<%= Ingrediente.id %>" class="btn btn-success mt-1">EDITAR</a>
                <a href="#" class="btn btn-danger mt-1">EXCLUIR</a>

            </div>

        <% }) %>

    </div>

</body>

<%- include('../partials/footer.ejs')  %>